$breakpoint-sm-min: 577px;
$breakpoint-md-min: 721px;
$breakpoint-lg-min: 1280px;
$breakpoint-xl-min: 1920px;

// Color
$gray-50: #f9fafb;
$gray-400: #94a3b8;
$gray-700: #374151;

$sky-500: #0ea5e9;

$red-600: #dc2626;

$orange-500: #f97316;
